---
import Layout from '../../components/Layout.astro';
import PostList from '../../components/posts/PostList.astro';

export const prerender = false;
---

<Layout title="Glowman554 - Blog">
    <h1 class="text-3xl">Blog</h1>
    <br />
    <PostList editMode={false} />
</Layout>
