---
import Layout from '../components/Layout.astro';
import MessageField from '../components/MessageField';
---

<Layout title="Toxic fox - Contact" description="Message me on Discord or Instagram.">
    <h1 class="text-3xl">Contact Me:</h1>
    <br />

    <div class="center w-full rounded-xl bg-neutral-800">
        <table class="m-4 w-1/4 rounded-xl bg-neutral-600">
            <tbody>
                <tr>
                    <td class="p-2">Discord</td>
                    <td class="p-2">
                        <a class="underline hover:text-blue-400" href="https://discordapp.com/users/584344177257480192"
                            >glowman554</a
                        >
                    </td>
                </tr>
                <tr>
                    <td class="p-2">Instagram</td>
                    <td class="p-2">
                        <a class="underline hover:text-blue-400" href="https://www.instagram.com/glowman434/"
                            >glowman434</a
                        >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <hr />
    <br />
    <MessageField client:load />
</Layout>
