---
import DownloadList from '../components/downloads/DownloadList.astro';
import Layout from '../components/Layout.astro';

export const prerender = false;
---

<Layout title="Glowman554 - Downloads" description="A list of my downloads.">
    <h1 class="text-3xl">Downloads</h1>
    <br />

    <DownloadList editMode={false} />
</Layout>
