---
import Layout from '../components/Layout.astro';

export const prerender = false;
---

<Layout title="Toxic fox - MicroOS" description="MicroOS - A small and simple operating system for x86 architecture.">
    <script is:inline src="/microos/libv86.js"></script>


    <div class="center flex-col p-4">
        <button
            id="mouse-capture-btn"
            class="px-4 py-2 rounded-xl border"
            disabled
        >
            Capture mouse
        </button>
    </div>

    <div id="screen_container" style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <div style="white-space: pre; font: 14px monospace; line-height: 14px">
            <p>Loading...</p>
        </div>
        <canvas style="display: none"></canvas>
    </div>

    <div class="center flex-col p-4">
        <progress id="loading-progress" class="m-4 rounded-xl" value="0" max="100"></progress>
        <p id="loading-text"></p>
    </div>


    <script>
        window.onload = function () {
            function urlWithPrefix(url: string, ws: boolean): string {
                const prefix = localStorage.getItem('prefix');
                const prefixed = prefix ? prefix + url : url;

                if (ws) {
                    if (!prefixed.startsWith('http')) {
                        return prefixed;
                    }
                    const parsed = new URL(prefixed);
                    parsed.protocol = parsed.protocol === 'http:' ? 'ws:' : 'wss:';
                    return parsed.href;
                }

                return prefixed;
            }

            const mb = 1024 * 1024;

            var emulator = (window.emulator = new V86({
                wasm_path: '/microos/v86.wasm',
                memory_size: 256 * mb,
                vga_memory_size: 16 * mb,
                screen_container: document.getElementById('screen_container'),
                bios: {
                    url: '/microos/seabios.bin',
                },
                vga_bios: {
                    url: '/microos/vgabios.bin',
                },
                cdrom: {
                    url: '/microos/cdrom.iso',
                },
                autostart: true,
                network_relay_url: urlWithPrefix('/api/v1/relay', true),
            }));

            let currentLine = [];
            emulator.bus.register(
                'serial0-output-byte',
                function (byte) {
                    if (byte === 0x0a) {
                        // Line feed
                        console.log(currentLine.join(''));
                        currentLine = [];
                    } else if (byte === 0x0d) {
                        // Carriage return
                        // Do nothing
                    } else if (byte === 0x08) {
                        currentLine.pop();
                    } else {
                        currentLine.push(String.fromCharCode(byte));
                    }
                },
                this
            );

            const mouseBtn = document.getElementById('mouse-capture-btn');
            let mouseLocked = false;

            mouseBtn.disabled = false;

            mouseBtn.onclick = () => {
                if (!mouseLocked) {
                    emulator.lock_mouse();
                } else {
                    emulator.unlock_mouse();
                }
            };

            const progressBar = document.getElementById('loading-progress');
            const loadingText = document.getElementById('loading-text');

            emulator.add_listener('download-progress', function (e) {
                if (e.total) {
                    const percent = Math.floor((e.loaded / e.total) * 100);
                    progressBar.value = percent;
                    loadingText.textContent = `Loading ${e.file_name} (${percent}%)`;
                } else {
                    loadingText.textContent = `Loading ${e.file_name}...`;
                }
            });
        };
    </script>
</Layout>
