---
import ProjectList from '../components/projects/ProjectList.astro';
import Layout from '../components/Layout.astro';

export const prerender = false;
---

<Layout title="Toxic fox - Projects" description="A list of my projects.">
    <h1 class="text-3xl">My Projects</h1>
    <br />
    <ProjectList limit={1000} editMode={false} />
</Layout>
