---
import StaticLoadingSpinner from '@glowman554/base-components/src/loading/StaticLoadingSpinner.astro';
import ProjectList from '../components/projects/ProjectList.astro';
import Layout from '../components/Layout.astro';
---

<Layout title="Glowman554 - Projects">
    <h1 class="text-3xl">My Projects</h1>
    <ProjectList server:defer limit={1000} editMode={false}>
        <StaticLoadingSpinner slot="fallback" />
    </ProjectList>
</Layout>
