---
import Navigation from '../components/Navigation';
import Meta from './Meta.astro';
import '../styles/global.css';

interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>

        <Meta description={description} />
    </head>
    <body class="bg-neutral-700 text-white">
        <Navigation client:load />

        <main class="m-auto w-4/5">
            <slot />
        </main>
    </body>
</html>
