---
import AdministratorOnly from '../../components/AdministratorOnly';
import Layout from '../../components/Layout.astro';
import PasswordChangeButton from '../../components/user/PasswordChangeButton';
---

<Layout title="Glowman554 - Internal" description="For internal use only.">
    <AdministratorOnly client:load />
    <PasswordChangeButton client:load />
    <div>
        <a class="underline" href="/internal/downloads">Downloads</a>
    </div>
    <div>
        <a class="underline" href="/internal/projects">Projects</a>
    </div>
    <div>
        <a class="underline" href="/internal/posts">Blog posts</a>
    </div>
</Layout>
